[user]
    email = 85758158+DraconicAsh@users.noreply.github.com
    name = DraconicAsh
[core]
    editor = nvim
[init]
    defaultBranch = main
[color]
    ui = auto
[commit]
    template = ~/.gitmessage
